/**
 * Background setup
 */
body {
  background: #000;
}

/**
 * Hide the cursor
 */
*,
*:active,
*:hover
*:link,
*:visited {
  /* Hidden cursor disabled during development */
  /*cursor: none !important;*/
}

/**
 * Prevent drag selection
 */
*::selection {
    background:transparent;
}

*::-moz-selection {
    background:transparent;
}

*::-webkit-selection {
    background:transparent;
}

.selector li{
  padding: 10px;
}

/**
 * Our display is fixed to 1366x768, so set the slide size accordingly
 */
.slide {
  width: 1366px;
  height: 768px;
}

/**
 * Customize the deck.js fade transition time
 */
.csstransitions.csstransforms .deck-container .slide {
    -webkit-transition: opacity 1000ms ease-in-out 0ms;
    transition: opacity 1000ms ease-in-out 0ms;
}

/**
 * Interlude slides
 */
.debug-slide {
  padding: 3%;
  color: #DDD;
}


